@using modellen
@model List<Verkiezing>
@{
    ViewBag.Title = "Index";
}

<h2>Verkiezingen</h2>

@foreach (Verkiezing v in Model)
{
<ul>
    <li>@v.Naam</li>
    <li>uitslagen: @v.Uitslagen.Capacity</li>
    <li>@Html.ActionLink("Details","UitslagenVerkiezing",new { id = v.Id,zetels = v.totZetels })</li>
</ul>
}


